:root {
    --clr-primary-blue: #000c24;
    --clr-white-text: #fbfbfb;
    --clr-orange-text: #f44336;
    --clr-secondary-grey: #928a97;
}

@keyframes up-down {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes big-small {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes nav-link-animation {
    0% {
        width: 0;
    }


    100% {
        width: 100%;
    }
}

@keyframes rotate-z {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes fold-up {
    0% {
        height: 60vh;
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        height: 0;
    }
}

@keyframes fold-down {
    0% {
        min-height: 0;
        opacity: 0;
    }

    99% {
        opacity: 1;
    }

    100% {
        min-height: 60vh;
    }
}

.nav-link-animation {
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-link-animation:hover::after {
    animation: nav-link-animation 1s 1;
}

.nav-link-animation::after {
    position: absolute;
    content: '';
    top: 0;
    width: 0;
    height: 2px;
    border-radius: 100vmax;
    background-color: var(--clr-white-text);
    z-index: -1;
    /* border-bottom: 2px solid #000c24; */
}